@mixin transition($property, $duration) {
    transition: $property $duration;
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
  }