/* Header */

header{
    background-image: url(../imagenesFondo/omeletteFondo2.jpg);
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.colorNavBar{
    background-color:rgb(160, 35, 52);
}

/* Main */

main{
    background-color: rgb(255, 238, 173);
}